body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    color: orange;
}
  
.content{
    margin: auto;
    background-color: beige;
    height: 500px;
    width: 900px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    box-sizing: border-box;
    width: 100px;
    border: 2px solid black;
    height: 100px;
    background-color: orange;
    margin: auto;
    padding: auto;    
    display: flex;                 /* enable flexbox */
    align-items: center;           /* center vertically */
    justify-content: center;       /* center horizontally */
}
