body {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: black;
  color: aliceblue;
}
a {
  text-decoration: none;
  color: green;
}
.nav-container {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  /* position: relative; */
  /* overflow: hidden; */
}

/* .nav1 ul ,.nav2 ul, .nav3 ul {
  list-style-type: none;
  display: flex;
} */

.nav1 ul {
  background-color: grey;
  color: aliceblue;
  display: flex;
  gap: 15px;
  padding: 10px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.nav1 a {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
  background-color: orange;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}

.nav1 li {
  list-style-type: none;
  display: inline;
}

.nav1 a:hover {
  background-color: yellow;
  color: black;
}
.nav1 a::after {
  content: "abc";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: blue;
  color: white;
  bottom: 0;
  left: 0;
  font-weight: bold;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out 0.3s;
}
.nav1 a:hover::after {
  transform: scaleX(1);
  color: black;
}
.nav1 .login-btn {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav2 {
  border: 2px solid royalblue;
  background-color: #343a40;
  color: aliceblue;
  width: 300px;
  height: auto;
  padding: 10px;
}
.nav2 ul {
  list-style-type: none;
  padding: 0;
}
.nav2 li {
  margin-bottom: 10px;
}
.nav2 a {
  color: aliceblue;
  text-decoration: none;
}
.nav2 a:hover {
  padding: 10px;
  margin: 10px 0;
  display: block;
  text-decoration: underline;
  background-color: #006fdf;
  color: aliceblue;
  transition: all 0.3s ease-in-out;
}
.nav2 .login-btn {
  background-color: blue;
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav2 .login-btn:hover {
  background-color: rgb(32, 75, 191);
  color: aliceblue;
  border: 1px solid rgb(47, 47, 181);
}

.nav3 {
  background-color: rgb(60, 89, 105);
  width: 100%;
  height: auto;
  color: blue;
  padding: 10px;
}
.nav3 a {
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
}

.nav3 ul {
  color: aliceblue;
  list-style-type: none;  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}
.nav3 .dropdown {
  position: relative; /* so absolute submenu is anchored here */
  min-width: 100px;
}

.nav3 .dropdown-content{
  display: none;
  background-color: #6d0000;
  color: aliceblue;
  min-width: 100px;
  padding: 5px 0px;
  line-height: 1.6; 
}
.nav3 .dropdown:hover .dropdown-content{
  display: block;
  position: absolute;
  background-color: rgb(77, 159, 203);
}